#LocateButton {
    position: absolute;
    top: 88px;
    left: 10px;
    z-index: 50;
    border: 1px solid #57585A;
    display: block;
    width: 31px;
    height: 31px;

    /*background-image: url(../img/locate.png);*/
    /*background-size: 26px, 26px;*/
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
}
.esriSimpleSliderTL{
    left: 10px;
    top: 10px;
}



/*.card{*/
    /*display: none;*/
/*}*/

#mapCard{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#locateImg {
    display: block;
    margin: auto;
    padding: 1px;
    cursor: pointer;

    background-color: #042F5A;
    position: absolute;
    top: 88px;
    left: 10px;
    z-index: 50;
    border: 1px solid #57585A;

    width: 31px;
    height: 31px;

    /*background-image: url(../img/locate.png);*/
    /*background-size: 26px, 26px;*/
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
}


.arcgisSearch .searchInputGroup {
    border: none;

}
.arcgisSearch .searchBtn {
    width: 88px;
    height: 41px;
    padding-top: 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
    box-shadow: -1px 2px 5px rgba(0,0,0, 0.6);
    border: none;
    background-color: #2fa4e7;
    /*width:300px;*/
    text-align: center;

    /*padding: 0px;*/
    /*padding-bottom: 0;*/
    position: absolute;
    left:300px;

}



.arcgisSearch .searchGroup{

}
.arcgisSearch .searchBtn:hover, .arcgisSearch .searchBtn:focus {
    background-color: #042F5A;
}
.arcgisSearch .searchBtn:blur{
    background-color: #2fa4e7;
}

#address{
    width: 500px;
    box-shadow: none;

}
.arcgisSearch .searchBtn
{


}
.arcgisSearch .searchGroup .searchInput{
    max-width: 500px;
    width: 300px;
    height: 41px;
    padding: 0;
    text-align: center;
    box-shadow: -1px 2px 5px rgba(0,0,0, 0.6);
    margin: auto;
    border: none;
}
.arcgisSearch .searchGroup .searchInput


/*.arcgisSearch .searchBtn{*/
    /*padding-bottom: 0;*/
    /*position: absolute;*/
    /*left:300px;*/
/*}*/
.arcgisSearch .searchIcon{
    padding-bottom: 0;
}
.esri-icon-close{

}
#map2{
    padding: 0;
}
.flipToggle{
background-color: #2fa4e7;
    display: block;
    position: absolute;
    z-index: 99999;
    width: 100px;

    padding: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 170px;
    color: white;
    text-align: center;
    box-shadow: 1px -2px 5px rgba(0,0,0, 0.6);
    cursor: hand;
}
.flipToggle:hover {
    background-color: #042F5A;
}

#legendCard{
    border: 1px solid;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 20px;
    box-shadow: 8px 5px 12px rgba(0,0,0,0.8);
}

#layersTab {

    transform: rotate(90deg);
    left:-30px;
    cursor: pointer;


}
#backToMap{
    transform: rotate(-90deg);
    right:-30px;
    cursor: pointer;
}
#layerList{

    padding: 0;
    padding-top: 105px;

}

.layerLable{
    display: inline;
    padding: 5px;
    cursor: pointer;
}
#layerHeader{
    background-color: #26A9E0;
    color: white;
    left: 0;
    position: absolute;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arcgisSearch .searchClear{
    right: 2px;
    padding-top: 4px;
    padding-right: 2px;
}

.arcgisSearch .searchIcon{
    display: none;
}

.arcgisSearch .searchButtonText{
    clip: auto;

    color: white;
    height: auto;
    width: auto;

}
.arcgisSearch .searchButtonText{
    font-weight: 300;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 10px;
    left: 0;
}
#calcContent{
    overflow: hidden;
}
#baseMapButton {
    display: inline;
    position: absolute;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url("mapImg/Street.jpg");
    z-index: 9999999;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
#baseMapImg{
    background-size: contain;
    background-image: url("../mapImg/Street.jpg");

    width: 100%;
    height: 100%;
}
#baseMapLable{
    background-color: #26A9E0;
    color: white;
    text-align: center;
}